{% extends 'templateHotel.html' %}

<!-- No traer del template original e incluir de la carpeta privada -->
{% block tituloPagina %}
  Administrador
{% endblock %}


{% block menuLateral %}
  {% include 'administrador/pv/menuVertical.html' %}
{% endblock %}

{% block areaTrabajo %}
  {% include 'administrador/pv/areaTrabajo.html' %}
{% endblock %}

{% block cabecera %}
  {% include 'administrador/pv/cabecera.html' %}
{% endblock %}

<!-- Traer del template original -->
{# % block piePagina %}{% endblock piePagina % #}
